html,
body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

form {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
input {
  display: block;
  margin-top: 15px;
  margin-left: 10px;
}
section {
  display: flex;
  margin: 10px;
  justify-content: center;
}
section img {
  border: 5px solid blue;
}
